main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: url(../img/background-admin-orange.png);
    background-position: left;
    background-size: cover;
    width: auto;
    height: auto;
    padding: 200px 7vw;
    border-radius: 20px;
    border-bottom-right-radius: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.container i {
    margin-left: 10px;

}
.container span {
    text-decoration: underline;
}
.container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}