

.section {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .number {
    font-family: "devil breeze";
    font-size: 15em;
    font-weight: bold;
}
.section .content-fit .title {
    font-family: "devil breeze";
    font-size: 5em;
    font-weight: bold;
}

#container3D {
    position: fixed;
    inset: 0;
    /* background-color: red; */
    z-index: 100;
    top: 0;
    pointer-events: none;
}
@media screen and (max-width: 800px){
    #container3D {
        display: none;
    }
}

#sec1 {
    height: 100vh;
}

#sec2 {
    height: 100vh;
}

#sec3 {
    height: 100vh;
}

main {
    height: 90vh;
    width: 100%;
    display: flex;
    padding-left: 90px;
}

.box-left {
    width: 50%;
}
.box-right {
    width: 50%;
    height: 100vh;
    background: rgb(112, 151, 106);
    border-bottom-left-radius: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-right ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-right h1 {
    height: 250px;
    font-size: 10.5vw;
    color: transparent;
    -webkit-text-stroke: 1.2px rgb(255, 255, 255);
}
.box-right i {
    font-size: 30px;
}
.box-right .icon-down {
    margin-top: 20px;
}

.box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}
.box-left .title-box-left {
    color: #f3f3f3;
    font-size: 120px;
    position: relative;
}
.box-left .title-box-left::before {
    position: absolute;
    content: '';
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 3px;
    bottom: 30px;
    right: 0;
    animation: line-white 6s infinite;
}
.box-left .title-box-left::after {
    position: absolute;
    content: '';
    background-color: rgb(26, 126, 42);
    width: 50%;
    height: 3px;
    bottom: 30px;
    left: 0;
    animation: line-green 6s infinite;
}
.box-left .title-box-left-span {
    color: transparent;
    -webkit-text-stroke: 3px #6ecc57d8;
}
.box-left p {
    margin-left: 10px;
}
.box-left a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 20px 10px;
    background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgb(45, 129, 63) 10%, rgb(66, 95, 68) 100%);
    color: white;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 30px;
}

.img-box-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.img-embalagemVerde {
    margin-right: 20vw;
    animation: EmbalagemVerde-move 4s infinite;
}
.img-embalagemAmarela {
    margin-left: 10vw;
    animation: EmbalagemAmarela-move 6s infinite;
}

.img-box-right img {
    position: absolute;
    width: 28vw;
}
.icon-down {
    animation: arrow-down 1.4s infinite;
}


@keyframes arrow-down {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes EmbalagemAmarela-move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateX(0);
    }
    
}
@keyframes EmbalagemVerde-move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateX(0);
    }
    
}

@keyframes line-white {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
@keyframes line-green {
    0% {
        width: 100%;
    }
    50% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/* Aparecer e desaparecer */

.hidden {
    opacity: 0;
    transition: .8s all;
    filter: blur(15px);
}
.show {
    opacity: 1;
    transform: scale(1.02);
    filter: blur(0px);
}

/* Seção produtos */


.box-products {
    height: 100vh;
}

/* Seção Banner */
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    width: 100%;
}


.box-banner-right {
    width: 50%;
    height: 100%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    text-align: end;
    margin-right: 100px;

}
.box-banner-right p {
    width: 500px;
}
.box-banner-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 15px 5px;
    background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgb(45, 129, 63) 10%, rgb(66, 95, 68) 100%);
    color: white;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 30px;
}
.box-banner-left {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: start;

}

/* Seção paravras */

#box {
    display: flex;
    flex-direction: column;
    min-height: 290vh;
    width: 100%;
    position: relative;
    margin-left: 120px;
    gap: 200px;
    overflow-x: hidden;
}
#box h1 {
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 3px #ffffffd8;
}
#box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 120vh;
    width: 100%;
    margin-top: 20vh;
    margin-left: 120px;
    position: relative;

}
.container-soda {

    position: absolute;
    border: 2px solid #fff;
    width: 400px;
    height: 600px;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
}
.box-final-left {
    width: 50%;
    height: 100%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: start;
    margin-right: 100px;

}
.box-final-left p {
    width: 500px;
}
.box-final-left a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 15px 5px;
    background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgb(45, 129, 63) 10%, rgb(66, 95, 68) 100%);
    color: white;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 30px;
}
.box-final-left {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: start;

}

@media (max-width: 700px) {
    .box-banner-right {
        font-size: 2.3vw;
        width: 90%;
        margin-right: 0;
        padding: 20px;
        text-align: center;
        align-items: center;
    }
    .box-banner-right p {
        text-align: center;
    }
    .box-final-left {
        font-size: 2.3vw;
        width: 100%;
        margin-left: 0;
        padding: 20px;
        text-align: center;
        align-items: center;
    }
    .box-final-left p {
        text-align: center;
    }
    .container-soda {
        display: none;
    }
    #box-2 {
        margin-left: 80px;
        padding: 20px;
        text-align: center;
        align-items: center;
    }
}